:root {
  --background: #181818;
  --hero: rgba(24, 24, 24, 1);
  --hero-gradient: rgba(225, 225, 225, 0);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background);
}

/* Navbar */
.navbar-brand img {
  height: 70px;
}
/* Akhir navbar */

/* Hero */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(0deg, var(--hero) 8%, var(--hero-gradient) 50%);
}

.hero .content {
  padding: 1.4rem 5%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 5rem;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
  font-weight: 800;
}

.hero .content h1 span {
  color: #ff8d1b;
}

.hero .content p {
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 300;
  color: #e1dddd;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: #c4803d;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}
/* Akhir Hero */

/* About */
.about img {
}
/* Akhir about */

/* kategori */
p.kategori {
  text-align: center;
  max-width: 15rem;
  margin: auto;
  font-weight: 300;
  line-height: 1.6;
}
/* akhir kategori */
